{% extends 'base.html' %}

{% block header %}
  <h2>
    {% block title %}
      Home
    {% endblock %}
  </h2>
{% endblock %}

{% block content %}
  <div class="content">
    <p>My name is Han Wong and I work as a systems developer. Coding is one of my hobbies and my kids love Pokemon.</p>
    <p>On this page, you can play a game by guessing the name of a Pokemon</p>
    <p>
      I built this website using Flask. Learn more about building projects like this by visiting <a href="https://realpython.com"><strong>Real Python</strong></a>.
    </p>
  </div>
{% endblock %}
