{% extends 'base.html' %}
{% block header %}
  <h2>
    {% block title %}
      Play
    {% endblock %}
  </h2>
{% endblock %}

{% block content %}
  <div id="main" class="flex-col col-12">
    <div class="flex-row col-12" id="score-board">
      <div>
        <h3>Life</h3>
        <h3 id="life">{{ life }}</h3>
      </div>
      <div>
        <h3>Streak</h3>
        <h3 id="streak">{{ streak }}</h3>
      </div>
      <div>
        <h3>Score</h3>
        <h3 id="score">{{ score }}</h3>
      </div>
      <div>
        <h3>Hi-Score</h3>
        <h3 id="hi-score">{{ hi_score }}</h3>
      </div>
    </div>
    <div class="col-12" id="pokemon-container">
      <div class="image-wrapper">
        <img src="data:image/png;base64,{{ pokemon }}" />
      </div>
    </div>
    <h3>{{ name }}</h3>
    <h2 id="player-guess">{{ guess }}</h2>
    <div class="col-12 keyboard-buttons">
      <input id="btnA" type="button" value="A" onclick="input(this);" />
      <input id="btnB" type="button" value="B" onclick="input(this);" />
      <input id="btnC" type="button" value="C" onclick="input(this);" />
      <input id="btnD" type="button" value="D" onclick="input(this);" />
      <input id="btnE" type="button" value="E" onclick="input(this);" />
      <input id="btnF" type="button" value="F" onclick="input(this);" />
      <input id="btnG" type="button" value="G" onclick="input(this);" />
      <input id="btnH" type="button" value="H" onclick="input(this);" />
      <input id="btnI" type="button" value="I" onclick="input(this);" />
      <input id="btnJ" type="button" value="J" onclick="input(this);" />
      <input id="btnK" type="button" value="K" onclick="input(this);" />
      <input id="btnL" type="button" value="L" onclick="input(this);" />
      <input id="btnM" type="button" value="M" onclick="input(this);" />
      <input id="btnN" type="button" value="N" onclick="input(this);" />
      <input id="btnO" type="button" value="O" onclick="input(this);" />
      <input id="btnP" type="button" value="P" onclick="input(this);" />
      <input id="btnQ" type="button" value="Q" onclick="input(this);" />
      <input id="btnR" type="button" value="R" onclick="input(this);" />
      <input id="btnS" type="button" value="S" onclick="input(this);" />
      <input id="btnT" type="button" value="T" onclick="input(this);" />
      <input id="btnU" type="button" value="U" onclick="input(this);" />
      <input id="btnV" type="button" value="V" onclick="input(this);" />
      <input id="btnW" type="button" value="W" onclick="input(this);" />
      <input id="btnX" type="button" value="X" onclick="input(this);" />
      <input id="btnY" type="button" value="Y" onclick="input(this);" />
      <input id="btnZ" type="button" value="Z" onclick="input(this);" />
    </div>
  </div>
  <script src="static/pokemon.js" defer></script>
  <noscript>Sorry, your browser does not support JavaScript!</noscript>
{% endblock %}
