{% extends 'base.html' %}
{% block header %}
  {% block title %}

  {% endblock %}
{% endblock %}

{% block content %}
  <div class="container level has-text-centered is-fluid is-mobile p-0" id="score-board">
    <div class="level-item">
      <div class="heading">
        <p>Life</p>
        <p class="is-size-5" id="life">{{ life }}</p>
      </div>
    </div>
    <div class="level-item">
      <div class="heading">
        <p>Streak</p>
        <p class="is-size-5" id="streak">{{ streak }}</p>
      </div>
    </div>
    <div class="level-item">
      <div class="heading">
        <p>Score</p>
        <p class="is-size-5" id="score">{{ score }}</p>
      </div>
    </div>
    <div class="level-item">
      <div class="heading">
        <p>Hi-Score</p>
        <p class="is-size-5" id="hi-score">{{ hi_score }}</p>
      </div>
    </div>
  </div>

  <div class="container" id="pokemon-container">
    <div class="animation-start">
      <img src="data:image/png;base64,{{ pokemon }}" />
    </div>
  </div>

  <div class="container columns has-text-centered is-mobile is-multiline" id="main">
    <div class="column is-full">
      <p class="title is-4">{{ header }}</p>
    </div>
    <div class="column is-full">
      {% if life and '_' in current_word %}
        <p class="subtitle is-3" id="current-word">{{ current_word }}</p>
      {% elif not life %}
        <p class="subtitle is-3">GAME OVER</p>
      {% endif %}
    </div>
    <div class="column is-full">
      {% if life and '_' in current_word %}
        <div class="buttons are-normal is-justify-content-center">
          {% for c in alphabet %}
            <button class="button m-0" id="{{ 'btn' + c }}" onclick="input(this);" value="{{ c }}"><span class="icon"><i class="{{ 'fa-solid fa-' + c.lower() }}"></i></span></button>
          {% endfor %}
        </div>
      {% elif not life %}
        <div class="box has-text-left">
          <form method="post">
            <div class="field">
              <label class="label" for="player-name">Name</label>
              <div class="control">
                <input class="input" id="player-name" name="player-name" placeholder="Enter your name" type="text" />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="button is-info" type="submit" value="Submit" />
              </div>
            </div>
          </form>
        </div>
      {% endif %}
    </div>
  </div>
  <script src="static/play.js" defer></script>
  <noscript>Sorry, your browser does not support JavaScript!</noscript>
{% endblock %}
